<body> 

  <div class=ueberschrift>
    <h1>Virtual Assistant - DIRK </h1>
    <img src="https://i.ibb.co/crsHWD0/Avatar-Maker.png">
</div>

  <iframe src="https://demo.myfarmvis.com/" title="myfarmvis" width="100%" height="750px"></iframe>
  <h3> <a href="https://login-demo.myfarmvis.com/auth/realms/myfarmvis/protocol/openid-connect/auth?response_type=code&client_id=myfarmvis-portal&state=SzJZTlhvRE8wNHJrRFdFUTVJdTJ5MmlYM3ExZUV1LjdRUXRpeklFeENzcUdJ&redirect_uri=https%3A%2F%2Fdemo.myfarmvis.com%2F&scope=openid%20profile&code_challenge=KLUpglF1T7r1ffHN7a7sFNJ5trFqR0yqDaZ3KiaUH4s&code_challenge_method=S256&nonce=SzJZTlhvRE8wNHJrRFdFUTVJdTJ5MmlYM3ExZUV1LjdRUXRpeklFeENzcUdJ"> > Hier geht es zum LogIn von myfarmvis</a> </h3>
  <a href="https://ibb.co/mHvs80T"><img src="https://i.ibb.co/RChnyNb/Bildschirmfoto-2021-08-01-um-20-22-08.png" alt="Bildschirmfoto-2021-08-01-um-20-22-08" border="0"></a>
<p></p>
<p></p>
  <a href="https://ibb.co/NYYtSbW"><img src="https://i.ibb.co/JkkmQgr/Bildschirmfoto-2021-08-01-um-20-38-39.png" alt="Bildschirmfoto-2021-08-01-um-20-38-39" border="0"></a>
  </body>
