<body>
    <h1>Shops</h1>

    <p id = "news">

        Erdbeerpflanzen im Wachstum unterstützen
        Die trockene und warme Witterung der letzten Wochen und Monate ist an den meisten Erdbeerpflanzung nicht spurlos vorbeigegangen. Darum sollten abgemulchte Altanlagen und Jungpflanzen jetzt im Wachstum unterstützt werden.
        
        Für eine bessere Wurzelbildung macht der Einsatz von Nov@ (gesprochen: „Nova“) Sinn, es sollte mit 3,0 l/ha gespritzt oder aber mit 15-20 l/hafertigiert werden. Nov@ (Nova) wirkt sowohl über das Blatt (Aminosäuren, Algenextrakte) als auch über den Boden (Humin- und Fulvosäuren). Deswegen sollte bei einer Bodenapplikation die Aufwandmenge erhöht werden, um den kompletten Wurzelraum besser zu durchdringen.
    </p>

    <p id = "news1">

        Daneben können Tunnelflächen aber auch abgemulchte Freilandflächen durch den Einsatz von 10 l/haPhosfik, Lebosol Kalium Plus oder Lebosol Magnesium Plus (Nebeneffekt Magnesium-Düngung) im Wachstum und Triebkraft gestärkt werden. Um die Pflanzen noch weiter zu unterstützen und zu vitalisieren kann auch eine Blattdüngung mit 2,0 l/haBio Energy oder Aminosol erfolgen, am besten kombiniert mit einer Gabe Zink (z.B. 0,5 l/haLebosol Zink 700), aber auch Bor (1,0 l/haPHYTAVIS Bor).
        
        
        Mehltau, Weiß- und Rotfleckenkrankheit nach der Ernte bekämpfen
        Sowohl in den abgemähten Beständen nach dem Wiederergrünen, als auch in den frisch gepflanzten Frigoanlagen muss zum Schutz vor Mehltaubefall nach der Ernte bzw. nach dem Wiederergrünen (3-4 Blatt Stadium) eine Fungizidbehandlung durchgeführt werden. Dabei sind 3 Spritzungen im Abstand von ca.12-14 Tagen anzustreben. Seit diesem Jahr sind Dagonis (0,6 l/ha, max.3 x) und Nimrod EC (1 l/ha , max.4 x) in Erdbeeren gegen den Echten Mehltau zugelassen. Daneben kann auch das Belagsfungizid Kumar (3 kg/ha, max. 8 x) eingesetzt werden, das sehr gute Benetzungseigenschaften (ähnlich Break Thru) hat. Es kann auch zur Resistenzvermeidung und Wirkungsverbesserung zu anderen Fungiziden zugemischt werden.
        
        Bei den Sorten Darselect und Korona sollte bei der ersten Mehltaubehandlung 0,4 l/ha Score dazu gemischt werden, um einen Befall mit der Weiß- und Rotfleckenkrankheit zu verhindern.
    </p>
</body>