/* You can add global styles to this file, and also import other style files */

df-messenger {
--df-messenger-bot-message: #233C4C;
--df-messenger-button-titlebar-color: #71B739;
--df-messenger-chat-background-color: #fafafa;
--df-messenger-font-color: white;
--df-messenger-send-icon: #233C4C;
--df-messenger-user-message: #479b3d;
}
